*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{

margin:0;

background:
linear-gradient(
rgba(0,0,0,0.65),
rgba(0,0,0,0.85)
),
url("assets/images/football-bg.jpg");

background-size:cover;

background-position:center;

background-attachment:fixed;

color:white;

font-family:Arial, sans-serif;

}


.subtitle{
    font-size:18px;
    opacity:0.8;
    margin-bottom:30px;
}



.profile{
    background:white;
    color:#222;
    padding:25px;
    border-radius:20px;
    max-width:400px;
    margin:auto;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}


input{
    width:90%;
    padding:15px;
    margin:15px;
    border-radius:10px;
    border:1px solid #ddd;
    font-size:16px;
}



button{
    background:#0b6623;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    font-size:17px;
    cursor:pointer;
}


button:hover{
    background:#094d1b;
}



.hidden{
    display:none;
}



.cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    margin-top:25px;
}



.card{
    background:white;
    color:#222;
    padding:25px 10px;
    border-radius:20px;
    font-size:35px;
    transition:0.3s;
}


.card h3{
    font-size:18px;
    margin-top:10px;
}


.card:hover{
    transform:translateY(-8px);
}



@media(max-width:500px){

.cards{
    grid-template-columns:1fr;
}

h1{
    font-size:28px;
}

}
